<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener> 

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} |%-40thread| %-5level %class{0} - %msg%n</pattern>
		</encoder>
	</appender>

  <!--
  <logger name="net.anfoya.downloads.javafx.allocine" level="DEBUG"/>
  <logger name="net.anfoya.javafx.scene.control" level="DEBUG"/>
  -->

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>